body {
    overflow-x: scroll;
}

.modal-lg {
    display: inline-table;
    margin: 30px auto;
    overflow: hidden;
}

.modal {
    text-align: center;
}
.export_button{
    margin-bottom: 5px;
    color:#fff;
}
.btn-default{
    margin-bottom: 0;
}
.error{
    color: #f00;
    float: left;
}
.btn-create{
    margin-left:10px;
}

/*#btn-close{*/
    /*margin-bottom: 0;*/
/*}*/
#btn-close1{
    margin-bottom: 0;
}

.btn-dark{
    width: 95%;
}
h4{
    clear: both;
}