body {
    overflow-x: scroll;
}
.report_form {
    color: #73879C;
    width: 18%;
    float: left;
    margin-top: 5px;
}

.report_form label {
    height: 35px;
    text-align: center;
    display: block;
    background: #ccc;
    padding: 5px;
    border-radius: 3px;
}

.report_form label:hover {
    background-color: #1ABB9C;
}

.report_edit {
    margin: 15px auto;
    float:left;
}


.report_edit input {
    margin-bottom: 15px;
}


.report_edit {
    display: none;
}

.not_empty_form{
    display: none;
}

.show_table{
    display:none;
}

.save_buttons{
    display:none;
    position: absolute;
    bottom: 27px;
    right: 395px;
}

.main_form {
    margin-left: 50px;
}
.btn {
    display: inline-block;
    background-color: #1ABB9C;
    border-color: mintcream;
}
.create_button{
    float:left;
    margin-left: 150px;
}
.form-group {
    margin-top: 5px;
    margin-bottom: 10px;
    float: right;
    width: 80%;
}

.text_description, .text_query{
    width: 45%;
    margin-bottom: 10px;
}