
.reset-btn{
    width: 100%;
}

.message-error{
    color: white;
    margin-bottom: 10px;
}

.message-success{
    color: white;
    width: 100%;
    text-align: center;
    margin: 10px 5px;
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url("../images/loading.gif") no-repeat center center;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 20140628;
}

.loading{
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    vertical-align: middle;
}

.load_text{
    color: #12A1B3;
    margin: auto;
    text-align: center;
}