#hider {
    display:none;
    background:black;
    left:0;top:0;
    width:100%;height:100%;
    position:fixed;
    opacity:0.7;
}

.ModelViewStudent {
    width: 450px;
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 111px;
    left: 36%;
    border-radius: 35px;
}
.ModelStatus{
    width:400px;
    background-color: #ffffff;
    display:none;
    position:fixed;
    top:111px;
    left:36%;
}

.ModelViewDays{
    width:400px;
    height:400px;
    background-color: #ffffff;
    display:none;
    position:fixed;
    top:111px;
    left:500px;
}

.TableNew{
    overflow-y: scroll!important;
    height: 400px!important;
    overflow-x: hidden!important;
}

#StudentTable{
    margin-top:91px;
}
#buttonSearch {
    width: 30px;
    height: 34px;
    background-color: #48c1ff;
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: right;
}

.REJECTED{
    background:#F44336;
}
.READY{
    background:#00C4DA;
}
.NO_INTERVIEW{
    background:#FD7268;
}
.INTERVIEW{
    background:#ACD878;
}
.INTERVIEW_DATED{
    background:#7486E6;
}
.INTERVIEW_IN_PROCESS{
    background:#FFB240;
}
.INTERVIEW_PASSED{
    background:#985EFF;
}
.TRAINEE_ACCEPTED{
    background:#4CAF50;
}
.JOB_ACCEPTED{
    background:#008EFF;
}

.ModalPersonal{
    width: 400px;
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 111px;
    left: 36%;
}

.QuestionInModal{
    margin-left: 25px;
    font-size: 15pt;
    color: #66cc33;
}

.AnswerInModal{
    margin-left: 13px;
    font-size: 15pt;
}

.Header_status{
    text-align: center;

}

#StatusNewIn{
    margin-top:30px;
}

.TextColorBlack {
    color: black;
    font-weight: bold;
}

.back{
    height: 35px;
    float: right;
    width: 35px;
}

.tip{
    height: 35px;
    width: 35px;
    float: right;
    margin-right: 25px;
}