#hider {
    display:none;
    background:black;
    left:0;top:0;
    width:100%;height:100%;
    position:fixed;
    opacity:0.7;
    z-index:2;
}

.ModelViewStudent {
    width: 450px;
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 111px;
    left: 36%;
    border-radius: 35px;
    z-index:2;
}
.ModelStatus{
    width:400px;
    background-color: #ffffff;
    display:none;
    position:fixed;
    top:111px;
    left:36%;
    border-radius: 39px;
    z-index: 2;
    height: 195px;
}

.ModelViewDays{
    width:400px;
    background-color: #ffffff;
    display:none;
    position:fixed;
    top:111px;
    left:500px;
    z-index:2;
}



#StudentTable{
    margin-top:91px;
}
#buttonSearch {
    width: 30px;
    height: 34px;
    background-color: #48c1ff;
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: right;
}

.REJECTED{
    background:#F44336;
}
.READY{
    background:#00C4DA;
}
.NO_INTERVIEW{
    background:#FD7268;
}
.INTERVIEW{
    background:#ACD878;
}
.INTERVIEW_DATED{
    background:#7486E6;
}
.INTERVIEW_IN_PROCESS{
    background:#FFB240;
}
.INTERVIEW_PASSED{
    background:#985EFF;
}
.TRAINEE_ACCEPTED{
    background:#4CAF50;
}
.JOB_ACCEPTED{
    background:#008EFF;
}

.ModalPersonal{
    width: 400px;
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 111px;
    left: 36%;
    z-index:2;
    border-radius:38px;
    height: 122px;
}

.QuestionInModal{
    margin-left: 25px;
    font-size: 15pt;
    color: #66cc33;
    z-index:2;
}

.AnswerInModal{
    margin-left: 13px;
    font-size: 15pt;
}

.Header_status{
    text-align: center;

}

#StatusNewIn{
    margin-top:30px;
}

.TextColorBlack {
    color: black;
    font-weight: bold;
}

.back{
    height: 35px;
    float: right;
    width: 35px;
}

.tip{
    height: 35px;
    width: 35px;
    float: right;
    margin-right: 25px;
}

.ModalHelp{
    width: 500px;
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 111px;
    left: 36%;
    z-index:2;
}

.StatusHelp{
    text-align:left;
}

.Status_search{
    text-align:left;
}

.HelpBlock{
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:15px;
    overflow-x:hidden;
    overflow-y: scroll;
    height:500px;
}
.RoleAdding{
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:15px;
}
.closeModal{
    float:right;
}

#IsMandatorySolo{
    margin-top:5px;
}
#isView{
    margin-top:5px;
}

.sizeButton{
    margin-left: 15px;
    margin-top: 2px;
}
.Role_page{
    text-decoration:none;
    color:white;
}

.center{
    text-align: center;
}

.Mail_Dispatch{
    margin-left: 28px;
    margin-top: 20px;
}