body {
	overflow-x: scroll;
}

.modal-lg {
	display: inline-table;
	margin: 30px auto;
	overflow: hidden;
}

.modal {
	text-align: center;
}

.btn-dark{
	width: 95%;
	white-space: normal;
}

#btn-close{
	margin-bottom: 0;
}
.error{
	color: #f00;
	float: left;
}

h4{
	clear: both;
}